{% extends "base.html" %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock head_css %}

{% block head_js %}
<script defer src="{% static 'js/detail.js' %}"></script>
{% endblock head_js %}


{% block content %}
<section class="detail-wrap">

    <div class="screenshot-wrap">
        <img src="{{ question.screenshot.url }}" alt="screenshot" id="screenshot">
    </div>
    <div class="date-wrap">
        <div class="title">날짜</div>
        <div class="data question_date">{{ question.created_at|date:"Y년 n월 d일" }}</div>
    </div>
    <div class="title-wrap">
        <div class="title">제목</div>
        <div class="data question_title">{{ question.title }}</div>
    </div>
    <div class="content-wrap">
        <div class="title">내용</div>
        <div class="data question_content">{{ question.content }}</div>
    </div>
    <div class="btn-wrap">
        <div class="btn-question-list">목록보기</div>
    </div>
</section>
{% endblock content %}