{% extends "base.html" %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock head_css %}

{% block head_js %}
<script defer src="{% static 'js/list.js' %}"></script>
{% endblock head_js %}


{% block content %}
<section class="list-wrap">

    <div class="question-create-btn">질문 등록하기</div>

    <div class="pagination">
        <ul class="page-list">
            {% for page_num in page_num_list %}
            <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
                <a href="{% url 'question_list' %}?page={{page_num}}" class="page-link">{{ page_num }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="table">
        <div class="table-head">
            <div class="date">날짜</div>
            <div class="title">제목</div>
            <div class="content">내용</div>
            <div class="screenshot">첨부파일</div>
        </div>
        <div class="table-row-wrap">
            {% for question in page_obj %}
                <div class="table-row q-{{ question.id }}">
                    <div class="date">{{ question.created_at|date:"Y년 n월 d일" }}</div>
                    <div class="title">{{ question.title }}</div>
                    <div class="content">{{ question.content }}</div>
                    <div class="screenshot">
                        <img src="{{ question.screenshot.url }}" alt="screenshot" class="screenshot-img">
                    </div>
                </div>
            {% endfor %}
            {% for i in ""|rjust:empty_row_count %}
                <div class="table-row">
                    <div class="date"></div>
                    <div class="title"></div>
                    <div class="content"></div>
                    <div class="screenshot"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}