:root {
    --text-color-header: rgb(53, 45, 45);
    --text-color-required: red;
    --text-color-btn-sbm: white;
    --text-color-btn-sbm-hb: #009879;
    --text-color-btn-atl: #009879;
    --text-color-btn-atl-hb: white;
    --text-color-btn-uld: #009879;
    --background-color: #009879;
    --background-color-btn-sbm: #009879;
    --background-color-btn-sbm-hb: white;
    --background-color-btn-atl-hb: #009879;
    --background-color-tr: rgba(219, 219, 219, 0.472);
    --border-color-btn-sbm-hb: #009879;
    --border-color-btn-atl: #009879;
    --border-color-btn-uld: #009879;
    --shadow-color-btn-uld: rgba(0, 0, 0, 0.1);
}


.attendance_create section,
.question_create section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

.attendance_create form,
.question_create form {
    max-width: 600px;
    width: 100%;
}

.attendance_create .form-item,
.question_create .form-item {
    margin-bottom: 15px;
}

.attendance_create .input-title,
.question_create .input-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.attendance_create .status-option-wrap,
.question_create .status-option-wrap {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 15px;
}

.attendance_create input[type="text"],
.attendance_create input[type="date"],
.attendance_create textarea,
.question_create input[type="text"],
.question_create textarea {
    box-sizing:border-box;
    width: 100%;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 6px;
}

.attendance_create input[type="text"],
.attendance_create input[type="date"],
.question_create input[type="text"] {
    height: 40px; 
    padding: 2px 10px;
}

.attendance_create input[type="date"] {
    max-width: 600px;
    font-family: 'Noto Sans KR';
    position: relative;
    background: url(/static/img/calendar.svg) no-repeat right 5px center / 10px auto;
}

.attendance_create input[type="date"]::-webkit-clear-button,
.attendance_create input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.attendance_create input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

.attendance_create input[type="radio"] {
    cursor: pointer;
}

.attendance_create .required,
.question_create .required {
    color: var(--text-color-required);
    font-weight: bold;
}

.attendance_create label {
    margin-left: 5px;
}

.attendance_create textarea,
.question_create textarea {
    resize: vertical;
    padding: 10px 10px;
}

.question_create .upload-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.question_create .input-upload {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2px 10px;
    width: 100px;
    height: 30px;
    border: 0.5px solid var(--border-color-btn-uld);
    border-radius: 4px;
    box-shadow: inset 0 0 8px var(--shadow-color-btn-uld),
                inset 0 0 8px var(--shadow-color-btn-uld),
                inset 4px 0 1px var(--shadow-color-btn-uld),
                inset -4px 0 1px var(--shadow-color-btn-uld);
    color: var(--text-color-btn-uld);
    cursor: pointer;
}

.question_create .file-remove,
.question_create #input_screenshot {
    display: none;
}

.attendance_create .btn-wrap,
.question_create .btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.attendance_create .btn-wrap div,
.question_create .btn-wrap div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
}

.attendance_create .btn-submit,
.question_create .btn-submit {
    background-color : var(--background-color-btn-sbm);
    color: var(--text-color-btn-sbm);
}

.attendance_create .btn-submit:hover,
.question_create .btn-submit:hover {
    transform: scale(1.1);
    background-color : var(--background-color-btn-sbm-hb);
    color: var(--text-color-btn-sbm-hb);
    border: 1px solid var(--border-color-btn-sbm-hb);
    
}

.attendance_create .btn-attendance-list,
.question_create .btn-question-list {
    border: 1px solid var(--border-color-btn-atl);
    color: var(--text-color-btn-atl);
}

.attendance_create .btn-attendance-list:hover,
.question_create .btn-question-list:hover {
    transform: scale(1.1);
    background-color : var(--background-color-btn-atl-hb);
    color: var(--text-color-btn-atl-hb);
}