:root {
    --text-color-header: rgb(53, 45, 45);
    --text-color-th: white;
    --background-color: #009879;
    --background-color-tb1: rgb(172, 172, 172);
    --background-color-tb2: #009879;
    --background-color-tr: rgba(219, 219, 219, 0.472);
}

body {
    margin: 0;
    font-family: 'Noto Sans KR';
}

.header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    color: var(--text-color-header);
    align-items: center;
    margin-bottom : 30px;
}

nav .nav-logo {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    margin-right: 100px;
}

nav .nav-logo-name {
    text-decoration: none;
    color: var(--text-color-header);
}

nav .nav-menu {
    display: flex;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

nav .nav-menu li {
    padding: 5px 20px;
    font-size: 16px;
}

nav .nav-menu li:hover {
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 4px;
    color: white;
}

.nav-toggleBtn {
    position: absolute;
    top: 30px;
    right: 32px;
    color: var(--accent-color);
    display: none;
}

.list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.table {
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
}

.table-head,
.table-row {
    display: flex;
    height: 35px;
    align-items: center;
}

.table-head {
    font-weight: bold;
    border-top: 2px solid var(--background-color-tb1);
    background-color: var(--background-color);
    color: var(--text-color-th);
}

.table-head div,
.table-row div {
    width: 150px;
    text-align: center;
}

.table-row:nth-child(2n+1) {
    background-color: var(--background-color-tr); 
}

.table-row:last-child {
    border-bottom:  2px solid var(--background-color-tb2);
}

.attendance-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    background-color: var(--background-color);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}



@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
    }

    nav .nav-logo {
        margin: 25px 50px 0 0;
        width: 100%;
    }

    nav .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav .nav-menu li {
        width: 100%;
        text-align: center;
    }

    .nav-toggleBtn {
        display: block;
    }

    .nav-menu.active {
        display: flex;
    }

}