:root {
    --text-color-header: rgb(53, 45, 45);
    --text-color-th: white;
    --background-color: #009879;
    --background-color-tb1: rgb(172, 172, 172);
    --background-color-tb2: #009879;
    --background-color-tr: rgba(219, 219, 219, 0.472);
}

body {
    margin: 0;
    font-family: 'Noto Sans KR';
}

.header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    color: var(--text-color-header);
    align-items: center;
}

nav .nav-logo {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    margin-right: 100px;
}

nav .nav-logo-name {
    text-decoration: none;
    color: var(--text-color-header);
}

nav .nav-menu {
    display: flex;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

nav .nav-menu li {
    padding: 5px 20px;
    font-size: 16px;
}

nav .nav-menu li:hover {
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 4px;
    color: white;
}

.nav-toggleBtn {
    position: absolute;
    top: 30px;
    right: 32px;
    color: var(--accent-color);
    display: none;
}


@media screen and (max-width: 768px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 10px;
    }

    nav .nav-logo {
        margin: 0;
        width: 100%;
    }

    nav .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav .nav-menu li {
        width: 100%;
        text-align: center;
    }

    .nav-toggleBtn {
        display: block;
    }

    .nav-menu.active {
        display: flex;
    }

}