:root {
    --text-color-header: rgb(53, 45, 45);
    --text-color-page: #009879;
    --text-color-page-at: white;
    --text-color-th: white;
    --text-color-btn-cr: white;
    --text-color-btn-cr-hb: #009879;
    --background-color: #009879;
    --background-color-page-at: #009879;
    --background-color-tb1: rgb(172, 172, 172);
    --background-color-tb2: #009879;
    --background-color-tr: rgba(219, 219, 219, 0.472);
    --background-color-btn-cr: #009879;
    --background-color-btn-cr-hb: white;
    --border-color-page : #009879;
    --border-color-btn-cr-hb : #009879;
}


.list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.attendance-create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: var(--background-color-btn-cr);
    color: var(--text-color-btn-cr);
    cursor: pointer;
    border-radius: 4px;
    box-sizing:border-box;
}

.attendance-create-btn:hover {
    background-color: var(--background-color-btn-cr-hb);
    border: 1px solid var(--border-color-btn-cr-hb);
    color: var(--text-color-btn-cr-hb);
}

.page-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 15px;
    padding: 0 20px;
    border-top: 1px solid var(--border-color-page);
    border-bottom: 1px solid var(--border-color-page);
}

.page-link {
    text-decoration: none;
    color: var(--text-color-page);
    margin: 0 5px;
    padding: 0 7px;
}

.page-item:hover {
    transform: scale(1.2);
    filter: brightness(120%);
}

.table {
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
}

.table-head,
.table-row {
    display: flex;
    height: 35px;
    align-items: center;
}

.table-head {
    font-weight: bold;
    border-top: 2px solid var(--background-color-tb1);
    background-color: var(--background-color);
    color: var(--text-color-th);
}

.table-head div,
.table-row div {
    width: 150px;
    text-align: center;
}

.table-row:nth-child(2n+1) {
    background-color: var(--background-color-tr); 
}

.table-row:last-child {
    border-bottom:  2px solid var(--background-color-tb2);
}



@media screen and (max-width: 768px) {
    div.table {
        width: 400px;
    }

    .reason {
        display: none;
    }

}