:root {
    --text-color-header: rgb(53, 45, 45);
    --text-color-page: #009879;
    --text-color-page-at: white;
    --text-color-th: white;
    --text-color-btn-cr: #009879;
    --text-color-btn-cr-hb: white;
    --background-color: #009879;
    --background-color-page-at: #009879;
    --background-color-tb1: rgb(172, 172, 172);
    --background-color-tb2: #009879;
    --background-color-tb3: rgba(219, 219, 219, 0.472);
    --background-color-tr: rgba(219, 219, 219, 0.472);
    --background-color-tr-hb: #00b99453;
    --background-color-btn-cr-hb: #009879;
    --border-color-page : #009879;
    --border-color-btn-cr : #009879;
    --border-color-btn-cr-hb : #009879;
}


.attendance_list .list-wrap,
.question_list .list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.attendance_list .attendance-create-btn,
.question_list .question-create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: var(--text-color-btn-cr);
    border: 1px solid var(--border-color-btn-cr);
    cursor: pointer;
    border-radius: 4px;
    box-sizing:border-box;
}

.attendance_list .attendance-create-btn:hover,
.question_list .question-create-btn:hover {
    background-color: var(--background-color-btn-cr-hb);
    color: var(--text-color-btn-cr-hb);
}

.attendance_list .page-list,
.question_list .page-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 15px;
    padding: 0 20px;
    border-top: 1px solid var(--border-color-page);
    border-bottom: 1px solid var(--border-color-page);
}

.attendance_list .page-link,
.question_list .page-link {
    text-decoration: none;
    color: var(--text-color-page);
    margin: 0 5px;
    padding: 0 7px;
}

.attendance_list .page-item:hover,
.question_list .page-item:hover {
    transform: scale(1.2);
    filter: brightness(120%);
}

.attendance_list .table,
.question_list .table {
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    border-top: 2px solid var(--background-color-tb1);
    border-bottom: 2px solid var(--background-color-tb2);
    border-radius: 4px;
}

.attendance_list .table-head,
.attendance_list .table-row,
.question_list .table-head,
.question_list .table-row {
    display: flex;
    height: 35px;
    align-items: center;
}

.attendance_list .table-head,
.question_list .table-head {
    font-weight: bold;
    background-color: var(--background-color);
    color: var(--text-color-th);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.attendance_list .table-row:nth-child(2n+1),
.question_list .table-row:nth-child(2n+1) {
    background-color: var(--background-color-tr); 
}

.attendance_list .table-head div,
.attendance_list .table-row div,
.question_list .table-head div,
.question_list .table-row div {
    width: 120px;
    text-align: center;
    margin: 0 15px;
}

.attendance_list .name,
.question_list .title,
.question_list .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question_list .table-row:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--background-color-tr-hb);
}

.screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 30px;
    max-height: 30px;
}



@media screen and (max-width: 768px) {
    .attendance_list div.table,
    .question_list div.table {
        width: 400px;
    }

    .attendance_list .table-head div,
    .attendance_list .table-row div,
    .question_list .table-head div,
    .question_list .table-row div {
        margin: 0 10px;
        font-size: 15px;
}

    .attendance_list .reason,
    .question_list .screenshot {
        display: none;
    }

}