{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ND BOARD</title>

    {% block head_css%}
    {% endblock head_css%}

    {%%}
</head>
<body>
    {% include 'header.html'%}

    <main class="content {{request.resolver_match.url_name}}">
        {% block content %}
        {% endblock content%}
    </main>
</body>
</html>