<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    <h1>Hello Nanodegree Django</h1>
    <br>
    <br>
    <h2>{{method}}</h2>
    <h3>{{user}}</h3>
    <h4>{{greeting}}</h4>
    <h5>{{code}}</h5>
    <h6>{{name}}</h6>
    <h2>{{query_string}}</h2>

    <a href="{% url 'index_class'%}">IndexClass 로 이동</a>
    <br>

    <a href="/cbv">IndexClass 로 이동 (name 사용 안함)</a>
    <br>

    <!-- PATH Parameter -->
    <a href="{% url 'index_function' 'secret' 'csw' %}">index_function 으로 이동</a>

    <br>

    <!-- Query Parameter -->
    <a href="{% url 'index_function2'%}?qs=특정검색어">index_function2 으로 이동</a>



</body>
</html>