{% extends "base.html" %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock head_css %}

{% block head_js %}
<script defer src="{% static 'js/list.js' %}"></script>
{% endblock head_js %}

{% block content%}
<section class="list-wrap">

    <div class="attendance-create-btn">출석체크하기</div>

    <div class="pagination">
        <ul class="page-list">
            {% for page_num in page_num_list %}
            <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
                <a href="{% url 'attendance_list' %}?page={{page_num}}" class="page-link">{{ page_num }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="table">
        <div class="table-head">
            <div class="name">이름</div>
            <div class="date">날짜</div>
            <div class="status">출석여부</div>
            <div class="reason">비고</div>
        </div>
        {% for attendance in page_obj %}
        <div class="table-row">
            <div class="name">{{ attendance.name }}</div>
            <div class="date">{{ attendance.date }}</div>
            <div class="status">{{ attendance.get_status_display }}</div>
            <div class="reason">{{ attendance.reason }}</div>
        </div>
        {% endfor %}
        {% for i in ""|rjust:empty_row_count %}
            <div class="table-row">
                <div class="name"></div>
                <div class="date"></div>
                <div class="status"></div>
                <div class="reason"></div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content%}